<%- include("header"); -%>
<h1>Gasore</h1>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fuga quae omnis maiores sapiente nostrum hic fugiat similique, est architecto culpa, maxime aliquam, quam asperiores possimus. Voluptas ex consequatur nesciunt recusandae voluptatem qui ut illum!</p>
<%- include("footer"); -%>