html {
  background-color: #E4E9FD;
  /* Creating a gradiant and this responsible for our page background */
  background-image: -webkit-linear-gradient(90deg, #A683E3 10%, #E4E9FD 90%);
  min-height: 1000px;
  font-family: 'helvetica neue';
}

h1 {
  color: #fff;
  padding: 10px;
}

.box {
  max-width: 500px;
  margin: 50px auto;
  background: white;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

#heading {
  background-color: #A683E3;
  text-align: center;
}
.heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 3rem;
  margin: auto;
}
.material-icons {
  font-size: 45px;
}
.item {
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between; 
  border-bottom: 1px solid #F1F1F1;
}

.checkbox {
  margin-right: 10px;
  min-height: 50px;
  width: 50px;
  cursor: pointer;
}

.completed {
  margin-left: auto;
  cursor: pointer;
  background-color: #c7d2e0;
  font-size:18px;
  border-radius: 5px;
  margin-right: 3px;
  padding: 3px;
}


/* This target the class item last child */
.item:last-child {
  border-bottom: 0;
}

/* target the input in checked state and +p means that paragraphs
 that follow the checkbox after being checked */
input:checked+p {
  text-decoration: line-through;
  text-decoration-color: #A683E3;
}

/* Target input with type of checkbox only */
input[type="checkbox"] {
  margin: 20px;
}

p {
  margin: 0;
  padding: 20px;
  font-size: 20px;
  font-weight: 200;
  color: #00204a;
}

form {
  text-align: center;
  margin-left: 20px;
}

.completed {
  color:brown;
}
button {
  min-height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #A683E3;
  color: #fff;
  font-size: 30px;
  padding-bottom: 6px;
  border-width: 0;
}

input[type="text"] {
  text-align: center;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 313px;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 #A683E3;
}

/* this target the placeholders we used in our html page. */
::placeholder {
  color: grey;
  opacity: 1;
}

footer {
  color: white;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}
